*{
	margin:0;
	padding:0;
}

body{
	font-family: "comic sans ms",Arial;
	color: white;
	text-align:center;
    background-color:black;
}

#divsentences{
    position:absolute;
    top:40px;
    left:10px;
    width:100%;
    font-family: "comic sans ms";
    font-size:12px;
    color: #aaaaaa;
    text-align:center;
    z-index:99;
}
#divcanvas{
    position:absolute;
    top:80px;
    width:100%;
    text-align:center;
}
#divinvoer{
    position:absolute;
    top:40px;
    text-align:center;
    width:100%;
}
#content{
    position:absolute;
    right:0;
    text-align:center;
    
}
#divmsg{
    position:absolute;
    top:0px;
    text-align: center;
    width:100%;
    z-index:99;
}
.show{
    position.relative;
    top:0px;
    left:0px;
}
 input[type=text]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: #ffffff;
    font-size:18px;
    height: 28px;
    padding-left:10px;
    padding-top:0px;
    padding-right:10px;
    width: 300px;
    box-shadow: 2px 2px 0 #828181 inset;
}
input[type=submit]
{
    background-color: #1E1E1E;
    color: #979797;
    height: 34px;
    width: 103px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
    padding:10px;
}

input[type=submit], input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: "comic sans ms",Arial;
    margin:2px;
}  

        